@{ 
    ViewBag.Title = ViewBag.StatusCode;
}

<style type="text/css">
    h1 {
        text-align: center;
        font-size: 120px;
        color: #D0CECE;
    }
</style>

<h1>@ViewBag.StatusCode</h1>