* { margin: 0px; padding: 0px; }
body, article{ margin: 0px; padding:0px; background-color: rgb(251, 250, 251)}
header { 
    opacity: 0; text-align: center; padding-top: 40px; background: url(/images/bg_small.png); height: 180px; box-sizing: border-box; 
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index:0;
}
.header-img { width: 60px; height: 60px; border-radius: 30px;
    animation: bling 1600ms linear 0s infinite alternate;
    -moz-animation: bling 1600ms linear 0s infinite alternate;
    -webkit-animation: bling 1600ms linear 0s infinite alternate;
    -o-animation: bling 1600ms linear 0s infinite alternate;
    outline: none;
    margin: 0px;
    padding: 0px;
    border: none;
}
article{ padding: 20px 15px; margin-top: 180px; position: relative; z-index:99; width: 100%; box-sizing: border-box; }
pre{
    white-space: pre-wrap;
}
@keyframes bling
{
    from {
        box-shadow: 0px 0px 13px rgba(167, 167, 167, 0.74);
    }
    to {
        box-shadow: 0px 0px 2px rgba(167, 167, 167, 0.74);
    }
}
@-moz-keyframes bling /* Firefox */
{
    from {
        box-shadow: 0px 0px 13px rgba(167, 167, 167, 0.74);
    }
    to {
        box-shadow: 0px 0px 2px rgba(167, 167, 167, 0.74);
    }
}
@-webkit-keyframes bling /* Safari 和 Chrome */
{
    from {
        -webkit-box-shadow: 0px 0px 13px rgba(167, 167, 167, 0.74);
    }
    to {
        -webkit-box-shadow: 0px 0px 2px rgba(167, 167, 167, 0.74);
    }
}
@-o-keyframes bling /* Opera */
{
    from {
        box-shadow: 0px 0px 13px rgba(167, 167, 167, 0.74);
    }
    to {
        box-shadow: 0px 0px 2px rgba(167, 167, 167, 0.74);
    }
}